{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
<script src="{% static 'js/store.js' %}"></script>

{% block content %}

<legend class="border-bottom mb-4">Store</legend>
<form method="POST">
    {% csrf_token %}
    <div class="form-group">
        <label for="id_{{ form.search_query.name }}">{{ form.search_query.label }}</label>
        <div class="form-row">
            <div class="col-sm-4 col-md-8 col-lg-10 mt-1 mb-1">{{ form.search_query }}</div>
            <button type="submit" class="btn btn-outline-secondary mx-1 my-1">Search</button>
            <button class="btn btn-outline-primary mx-1 my-1" type="button" data-toggle="collapse"
                data-target="#collapseExample">Filter</button>
        </div>
    </div>
    <div class="collapse mt-3" id="collapseExample">
        <div class="form-row">
            <div class="form-group col-12">
                <div class="input-group">
                    {{ form.product_id }}
                    <span class="input-group-append">
                        <div class="input-group-text bg-transparent">
                            <i class="fa fa-search"></i>
                        </div>
                    </span>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-2 col-lg-2">
                <label for="id_{{ form.product_count.name }}">{{ form.product_count.label }}</label>
                {{ form.product_count }}
            </div>
            <div class="form-group col-md-2 col-lg-3">
                <label for="id_{{ form.start_date.name }}">{{ form.start_date.label }}</label>
                {{ form.start_date }}
            </div>
            <div class="form-group col-md-2 col-lg-3">
                <label for="id_{{ form.end_date.name }}">{{ form.end_date.label }}</label>
                {{ form.end_date }}
            </div>
            <div class="form-group col-md-4 col-lg-4">
                <label for="id_{{ form.category.name }}">{{ form.category.label }}</label>
                {{ form.category }}
            </div>
        </div>
    </div>
</form>

{% if products %}
<div class="row">
    {% for product in products %}
    <div class="col-lg-6 col-md-6 col-sm-12 align-items-stretch">
        <div class="card my-3 shadow-sm p-3 rounded">
            <h6 class="text-center mt-2 mb-3">{{ product|get_item:"title" }}</h6>
            <a href="{{ product|get_item:"item_url" }}" target="_blank">
                <img src="{{ product|get_item:'image_url' }}" class="center-block" height="40%" width="40%" alt="">
            </a>
            <div class="card-body">
                <p><b>Item ID: </b>{{ product|get_item:"item_id" }}<br>
                    {% if product|get_item:"current_price_currency" == "USD" %}
                    <b>Current Selling Price: </b>${{ product|get_item:"current_price" }}<br>
                    {% else %}
                    <b>Current Selling Price: </b>{{ product|get_item:"current_price_currency" }}
                    {{ product|get_item:"current_price" }}<br>
                    {% endif %}
                    <b>Selling Status: </b>{{ product|get_item:"selling_status" }}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}
{% endblock content %}